@import '../../../utilities/theme/_theme.scss';
@import '../../../assets/fonts/typography.scss';

.TotalCard {
    width: 100%;
    margin: auto;
    border-radius: 20px !important ;
    display: flex;
    align-items: center;
    box-shadow: unset !important;
    margin-top: 15p !important;
    box-sizing: border-box;
    border: 1px solid $lightCyan !important;
    background: linear-gradient(90deg, $white 0%, #f8ffff 100%) !important ;
}
.BusCard {
    width: 100%;
    margin: auto;
    min-width: '300px';
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    box-shadow: unset !important;
    margin-top: 15p !important;
    box-sizing: border-box;
    border: 1px solid $plum !important ;
    background: linear-gradient(90deg, $white 0%, #fdf8ff 100%) !important ;
}
.CvsCard {
    width: 100%;
    margin: auto;
    min-width: '300px';
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    box-shadow: unset !important;
    margin-top: 15p !important;
    box-sizing: border-box;
    border: 1px solid $cyan !important  ;
    background: linear-gradient(90deg, $white 0%, #f6fcfd 100%) !important ;
}
.CreatedCard {
    width: 100%;
    margin: auto;
    min-width: '300px';
    border-radius: 20px !important;
    display: flex;
    align-items: center;
    box-shadow: unset !important;
    margin-top: 15p !important;
    box-sizing: border-box;
    border: 1px solid #e2c98e !important   ;
    background: linear-gradient(90deg, $white 0%, #fefcf6 100%) !important ;
}
.statusValue {
    padding: 2px 10px 2px 10px;
    background-color: $lightGreenBac;
    color: $darkenGray;
    border-radius: 4px;
}
.profileImg {
    display: flex;
    align-items: center;
}
.profileName {
    color: $s900Bg;
    @extend .c-poppins-regular;
    font-size: 18px;
    font-weight: 600;
}
.property {
    opacity: 0.8 !important ;
    color: #3f4449 !important;
    @extend .c-poppins-regular;
    font-weight: 500 !important ;
    letter-spacing: 0 !important;
    font-size: 12px !important ;
    display: flex;
    
}
.value {
    height: 31px !important ;
    color: #3f4449 !important;
    @extend .c-poppins-regular;
    font-size: 22px !important;
    font-weight: 600 !important ;
    letter-spacing: 0 !important ;
    line-height: 33px !important;
}
.total {
    box-sizing: border-box;
    height: '103px';
    border: 1px solid #a6cdca;
    border-radius: 20px;
    background: linear-gradient(90deg, $white 0%, #f8ffff 100%);
    display: flex;
}
.statuscard_row {
    margin: 0px -20px !important;
    width: calc(100% + 40px) !important;
}
.statuscard_clmn {
    padding: 0px 20px !important;
}
.statuscard {
    padding: 20px 20px;
}
.statuscard_img .img {
    width: 80px;
    height: 80px;
}
.statuscard_txt {
    padding-left: 15px;
}
.statuscard_icon {
    margin-left: auto;
}
@media only screen and (max-width: 1399px) {
    .statuscard {
        padding: 20px 20px 20px 0px;
    }
    .statuscard_row {
        margin: 0px -15px !important;
        width: calc(100% + 30px) !important;
    }
    .statuscard_clmn {
        padding: 0px 15px !important;
    }
}
@media only screen and (max-width: 1399px) {
    .statuscard_clmn {
        -webkit-flex-basis: 50%;
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
        max-width: 50%;
    }
    .statuscard {
        padding: 5px 20px 5px 10px;
        margin: 0px 0px 15px !important;
    }
}
@media only screen and (max-width: 767px) {
    .statuscard_clmn {
        -webkit-flex-basis: 100%;
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        max-width: 100%;
    }
}
