@import '../../../../assets/fonts/typography.scss';

.tableColumn .MuiTableCell-root {
    @extend .c-poppins-semibold;
    font-size: 13px !important;
}
.tableColumn.simple .MuiTableRow-head {
    background-color: #f3f8fc !important;
}
.tableColumn .MuiTableRow-head {
    background-color: white;
}
