.timeline .approval_history_area {
    border: 1px solid #d6dae7;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
    margin-bottom: 40px;

    .desktopRejectedDate {
        text-align: center;
        font-size: 10px;
        font-family: poppinsSemibold;
        color: grey;
        margin-top: -30px;
    }
    .mobileRejectedDate {
        display: none;
    }
    .rejectedIcon {
        margin: 0 auto;
        width: 0%;
        top: 2vh;
        position: relative;
        right: -6vw;
    }
    .desktopPendingDate {
        text-align: center;
        // padding-bottom: 20px;
        font-size: 10px;
        position: relative;
        width: 33%;
        font-family: poppinsSemibold;
        color: grey;
        margin-top: -40px;
    }
    .mobilePendingDate {
        display: none;
    }
    .rejectedInput {
        .label-style {
            text-align: left;
            margin-left: -10%;
            font-size: 12px;
            line-height: 18px;
            margin-bottom: 5px;
        }
        text-align: center;
        padding-bottom: 20px;
        .MuiTextField-root .MuiOutlinedInput-root {
            height: 100px;
            background-color: #fcfdff;
            .MuiInputBase-input {
                font-size: 12px;
                font-family: PoppinsSemiBold;
                line-height: 18px;
                color: #02122c;
                text-transform: capitalize;
                height: 70px;
            }
            .MuiOutlinedInput-notchedOutline {
                border: 1px solid #ccd0d5;
            }
        }
    }
    .approval_history_head {
        padding: 20px 30px;
        background-color: #f9fafb;
        h2 {
            color: #19253a;
            font-size: 14px;
            font-weight: 600;
            letter-spacing: 0;
            line-height: 20px;
            margin: 0;
        }
    }
    .approval_history_content {
        padding: 35px 0px 80px;
        ul {
            display: flex;
            width: 100%;
            margin: 0;
            padding: 0;
            list-style: none;
            li.step {
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                flex: 1;
                position: relative;
                // pointer-events: none;
                span.step_icon {
                    height: 25px;
                    width: 25px;
                    border: 1.5px dashed #abb4c0;
                    border-radius: 100%;
                    background-color: #ebf0f6;
                    position: relative;
                    top: 12px;
                }
                // .step_rejected .step_icon {
                //     top: 15px;
                // }
                span.step_label {
                    font-size: 12px;
                    font-weight: 600;
                    letter-spacing: 0;
                    line-height: 18px;
                    text-align: center;
                    border-radius: 5px;
                    padding: 4px 13px;
                    position: relative;
                    top: 30px;
                }
            }
            li.step_rejected {
                span.step_icon {
                    border: 1.5px solid #d43333;
                    background-color: #fff;
                    position: relative;
                    top: 27px;
                    &::before {
                        content: '';
                        height: 13.5px;
                        width: 13.5px;
                        background-color: #d43333;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                    }
                }
                span.step_label {
                    color: #d43333;
                    background-color: #ffe9da;
                    top: 45px;
                }
            }
            li.step_remaining {
                //   cursor: pointer;
                pointer-events: all;
                span.step_icon {
                    border: 1.5px solid #fc8e40;
                    background-color: #fff;
                    position: relative;
                    &::before {
                        content: '';
                        height: 13.5px;
                        width: 13.5px;
                        background-color: #fc8e40;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                    }
                }
                span.step_label {
                    color: #eb7725;
                    background-color: #ffe9da;
                }
            }
            li.step_finished {
                // cursor: pointer;
                pointer-events: all;
                span.step_icon {
                    border: 1.5px solid green;
                    background-color: #fff;
                    position: relative;
                    &::before {
                        content: '';
                        height: 13.5px;
                        width: 13.5px;
                        background-color: green;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 100%;
                    }
                }
                span.step_label {
                    color: green;
                    background-color: #ffe9da;
                }
            }
        }
    }
}
.timeline.step_label.pending {
    color: #eb7725;
    background-color: #ffe9da;
}

.timeline .step:before {
    width: 100%;
    background-color: transparent;
    border-top: 1.5px dashed #abb4c0;
}
.timeline .step.step_finished:before {
    width: 100%;
    background-color: transparent;
    border-top: 1.5px dashed green;
}

.timeline .step:not(:last-child):before,
.step:not(:last-child):after {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 1px;
    content: '';
    transform: translateY(-50%);
    will-change: width;
    z-index: -1;
}
.timeline .step:after {
    width: 0;
}
.timeline .step_remaining:after {
    width: 100% !important;
    opacity: 1;
    transition: width 0.6s ease-in-out, opacity 0.6s ease-in-out;
}

@media (max-width: 500px) {
    .timeline .approval_history_area .approval_history_content ul {
        flex-direction: column;
    }
    .desktopRejectedDate {
        display: none;
    }
    .desktopPendingDate {
        display: none;
    }
    .rejectedIcon {
        margin: 0 auto;
        width: 0%;
        top: 1.5vh !important;
        position: relative;
        right: -24vw !important;
    }
    .mobileRejectedDate {
        display: block !important;
        text-align: center;
        position: absolute !important;
        font-size: 10px;
        top: 30px;
        font-family: poppinsSemibold;
        color: grey;
        margin-left: 45vw;
    }
    .mobilePendingDate {
        display: block !important;
        text-align: left;
        position: absolute !important;
        font-size: 10px;
        top: 15px;
        font-family: poppinsSemibold;
        color: grey;
        margin-left: 25vw;
    }
    .timeline .step.step_finished:before {
        width: 35%;
    }

    // .timeline .step:before{
    //   position: absolute;
    // top: 50%;
    // left: 0% !important;
    // height: 1px;
    // content: "";
    // -webkit-transform: rotate(90deg);
    // transform: rotate(90deg) !important;
    // will-change: width;
    // z-index: -1;
    // }
    .timeline .step:before {
        width: 35%;
        // padding-top: 0px;
        // padding-left: 71px;
        // margin-left: -4%;
        // margin-top: -13%;
        // padding-right: 47px;
        // padding-bottom: 29px;
        background-color: transparent;
        border-top: 1.5px dashed #abb4c0;
    }
    .timeline .step:not(:last-child):before,
    .step:not(:last-child):after {
        position: absolute;
        // top: 50%;
        // left: 0% !important;
        top: 100%;
        left: 32.5% !important;
        height: 1px;
        content: '';
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg) !important;
        will-change: width;
        z-index: -1;
    }
    .timeline .approval_history_area .approval_history_content ul li.step span.step_label {
        margin-bottom: 30px;
    }
    .timeline .approval_history_area .approval_history_content ul li.step {
        margin-top: 30px;
    }
    .timeline .approval_history_area .approval_history_content {
        padding: 0px 0px 15px;
    }
}
@media (min-width: 768px) and (max-width: 999px) {
    .timeline .approval_history_area .rejectedIcon {
        right: -10vw;
        top: 1vh;
    }
    .rejectedInput {
        .label-style {
            margin-left: -18% !important;
        }
    }
}

@media (min-width: 1000px) and (max-width: 1100px) {
    .timeline .approval_history_area .rejectedIcon {
        right: -8vw;
        top: 2vh;
    }
    .rejectedInput {
        .label-style {
            margin-left: -14% !important;
        }
    }
}
@media (min-width: 1199px) and (max-width: 1250px) {
    .timeline .approval_history_area .rejectedIcon {
        right: -7vw;
        top: 1.5vh;
    }
    .rejectedInput {
        .label-style {
            margin-left: -12% !important;
        }
    }
}
