@import '../../../utilities/theme/_theme.scss';
@import '../../../assets/fonts/typography.scss';

.cvsChipsWrapper {
    display: flex;
    width: 100%;
    @extend .c-poppins-semibold;
    font-size: 13px;
    .chip {
        min-width: 98px;
        border-radius: 22px;
        display: flex;
        align-items: center;
        min-height: 35px;
        padding: 10px;
        margin-right: 20px;
        cursor: pointer;
    }
    .insideChip {
        background-color: #03cbe9;
        color: $white;
        margin: 0px 0px 0px 8px;
        border-radius: 11px;
        height: 18px;
        font-size: 11px;
        padding: 1px 10px;
    }
    .activeChip {
        background-color: $p800Bg;
        color: $white;
    }
    .inactiveChip {
        background-color: $white;
        color: $s100Bg;
        border: 1px solid $s100Bg;
    }
}

@media (max-width: 480px) {
    .cvsChipsWrapper {
        display: flex;
        justify-content: center;
        .chip {
            padding: 10px 17px 11px 17px;
            border-radius: 22px;
            font-size: 12px;
            margin-right: 3%;
            display: flex;
            margin-top: 10px;
        }
    }
}
@media (max-width: 767px) {
    .cvsChipsWrapper {
        flex-wrap: wrap;
    }
}
