@import '../../../utilities/theme/_theme.scss';
@import '../../../assets/fonts/typography.scss';

.date {
    color: #5c697c;
    @extend .c-poppins-regular;
    font-size: 10px;
    font-weight: 500;
}
.dateCont {
    display: flex;
    justify-content: space-between;
}
.description {
    color: $s200Bg;
    @extend .c-poppins-regular;
    font-size: 10px;
    font-weight: 500;
}
.title {
    color: $s900Bg;
    @extend .c-poppins-regular;
    font-size: 12px;
    font-weight: 600;
    margin: unset;
}
.notifContiner {
    display: flex;
}
.body {
    height: 360px;
    width: 333px;
    display: contents;
}
